:root {
  --background: #303446;
  --background-alt: #232634;
  --green: #a6d189;
  --orange: #ef9f76;
  --yellow: #eed49f;
  --purple: #ca9ee6;
  --blue: #99d1db;
  --red: #e68284;
  --white: #fff;
  --gray: #ccc;
  --black: #000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}